Repository petteriTeikari/foundation_PLR: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, registry-integrity, registry-validation, computation-decoupling, renv-sync-check, extraction-isolation-check, figure-isolation-check

ruff:
  name: ruff lint (auto-fix)
  entry: uv run ruff check --fix --config=pyproject.toml
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

registry-integrity:
  name: Registry Integrity Check (anti-cheat verification)
  entry: uv run python scripts/validation/verify_registry_integrity.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

registry-validation:
  name: Registry Validation (11 outliers, 8 imputations, 5 classifiers)
  entry: uv run python -m pytest tests/test_registry.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

computation-decoupling:
  name: Computation Decoupling Check (viz code must not compute metrics)
  entry: uv run python scripts/validation/check_computation_decoupling.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

renv-sync-check:
  name: renv Sync Check (R reproducibility)
  entry: Rscript scripts/infra/check_renv_sync.R
  language: system
  pass_filenames: false
  stages:
  - pre-commit

extraction-isolation-check:
  name: Extraction Isolation (no synthetic in production)
  entry: uv run python scripts/validation/check_extraction_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

figure-isolation-check:
  name: Figure Isolation (no synthetic in generated/)
  entry: uv run python scripts/validation/check_figure_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

refactor(orchestration): Extract Prefect compat layer for static-analysis safety
  src/orchestration/_prefect_compat.py
  src/orchestration/flows/__init__.py
  src/orchestration/flows/analysis_flow.py
  src/orchestration/flows/extraction_flow.py
  src/orchestration/tasks/decomposition_extraction.py
Due: ruff, ruff-format

fix(docs): Enable mkdocstrings in CI with strict mode (0 errors, 0 warnings)
  .github/workflows/deploy-docs.yml
  mkdocs.yml
  pyproject.toml
  src/anomaly_detection/anomaly_detection.py
  src/classification/stats_metric_utils.py
  src/data_io/data_utils.py
  src/data_io/data_wrangler.py
  src/ensemble/ensemble_classification.py
  src/ensemble/ensemble_utils.py
  src/featurization/embedding/dim_reduction.py
  src/imputation/imputation_main.py
  src/log_helpers/mlflow_utils.py
  src/log_helpers/retrain_or_not.py
  uv.lock
Due: ruff, ruff-format

docs: Add academic rigor guardrail and R docstring limitation note
  CLAUDE.md
  docs/api-reference/index.md
Due: none

fix(docs): Enable mkdocstrings in CI — strict mode, 0 errors (#46)
  .github/workflows/deploy-docs.yml
  CLAUDE.md
  docs/api-reference/index.md
  mkdocs.yml
  pyproject.toml
  src/anomaly_detection/anomaly_detection.py
  src/classification/stats_metric_utils.py
  src/data_io/data_utils.py
  src/data_io/data_wrangler.py
  src/ensemble/ensemble_classification.py
  src/ensemble/ensemble_utils.py
  src/featurization/embedding/dim_reduction.py
  src/imputation/imputation_main.py
  src/log_helpers/mlflow_utils.py
  src/log_helpers/retrain_or_not.py
  src/orchestration/_prefect_compat.py
  src/orchestration/flows/__init__.py
  src/orchestration/flows/analysis_flow.py
  src/orchestration/flows/extraction_flow.py
  src/orchestration/tasks/decomposition_extraction.py
  uv.lock
Due: ruff, ruff-format

docs(mkdocs): Integrate screenshots and Prefect labor division into MkDocs
  docs/assets/images/mlflow_artifacts.png
  docs/assets/images/mlflow_ui.png
  docs/assets/images/prefect_flow.png
  docs/getting-started/quickstart.md
  docs/tutorials/running-experiments.md
  docs/user-guide/prefect-orchestration.md
  mkdocs.yml
Due: none

docs(figures): Add 4 figure plans (98-101) with pupillometry ecosystem research
  docs/planning/plr-repo-research.md
  docs/repo-figures/figure-plans/fig-repo-100-medical-tsfm-revolution.md
  docs/repo-figures/figure-plans/fig-repo-101-plr-as-tsfm-proving-ground.md
  docs/repo-figures/figure-plans/fig-repo-98-pupil-preprocessing-challenges.md
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
Due: figure-isolation-check

docs(assets): Add hero banner and 4 figure JPEGs (98-101) with rounded corners
  docs/repo-figures/assets/fig-HERO-github-banner.jpg
  docs/repo-figures/assets/fig-repo-01-what-this-repo-does.jpg
  docs/repo-figures/assets/fig-repo-100-medical-tsfm-revolution.jpg
  docs/repo-figures/assets/fig-repo-101-plr-as-tsfm-proving-ground.jpg
  docs/repo-figures/assets/fig-repo-98-pupil-preprocessing-challenges.jpg
  docs/repo-figures/assets/fig-repo-99-pupillometry-software-ecosystem.jpg
Due: figure-isolation-check

docs(readme): Major README redesign with hero banner, factual fixes, and 4 new figures
  README.md
Due: none

fix(readme): Restore test suite badges dropped during README redesign
  README.md
Due: none

docs(fig-98): Update plan to v3-final spec and re-convert JPG asset
  README.md
  docs/repo-figures/assets/fig-repo-98-pupil-preprocessing-challenges.jpg
  docs/repo-figures/figure-plans/fig-repo-98-pupil-preprocessing-challenges.md
Due: figure-isolation-check

docs(readme): Rename MLflow/Prefect dropdown to MLflow UI Example
  README.md
Due: none

docs: Finalize documentation with README redesign, hero banner, and new figures (#47)
  README.md
  docs/assets/images/mlflow_artifacts.png
  docs/assets/images/mlflow_ui.png
  docs/assets/images/prefect_flow.png
  docs/getting-started/quickstart.md
  docs/planning/plr-repo-research.md
  docs/repo-figures/assets/fig-HERO-github-banner.jpg
  docs/repo-figures/assets/fig-repo-01-what-this-repo-does.jpg
  docs/repo-figures/assets/fig-repo-100-medical-tsfm-revolution.jpg
  docs/repo-figures/assets/fig-repo-101-plr-as-tsfm-proving-ground.jpg
  docs/repo-figures/assets/fig-repo-98-pupil-preprocessing-challenges.jpg
  docs/repo-figures/assets/fig-repo-99-pupillometry-software-ecosystem.jpg
  docs/repo-figures/figure-plans/fig-repo-100-medical-tsfm-revolution.md
  docs/repo-figures/figure-plans/fig-repo-101-plr-as-tsfm-proving-ground.md
  docs/repo-figures/figure-plans/fig-repo-98-pupil-preprocessing-challenges.md
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
  docs/tutorials/running-experiments.md
  docs/user-guide/prefect-orchestration.md
  mkdocs.yml
Due: figure-isolation-check

feat(security): Add CISO Assistant compliance check workflow
  .github/workflows/ciso-assistant-security.yml
  scripts/security/__init__.py
  scripts/security/compliance_check.py
Due: ruff, ruff-format

fix(deps): Upgrade mlflow and bump transitive dep floors for security
  pyproject.toml
  uv.lock
Due: none

docs(readme): Add GH#48 (D3.js interactive visualizations) to roadmap
  README.md
Due: none

docs(planning): Add MLSecOps/reproducibility plan, action plan, and 6 new issues
  README.md
  docs/planning/reproducibility-and-mlsecops-improvements-action-plan.xml
  docs/planning/reproducibility-and-mlsecops-improvements.md
Due: none

docs(security): Add SECURITY.md, CODEOWNERS, and dependabot.yml
  .github/CODEOWNERS
  .github/dependabot.yml
  SECURITY.md
Due: none

docs(governance): Add environment card and AI usage card
  configs/governance/ai_usage_card.yaml
  configs/governance/environment_card.yaml
Due: none

docs(governance): Add model card and data card with manuscript content
  configs/governance/data_card.yaml
  configs/governance/model_card.yaml
Due: none

docs(reproducibility): Add NeurIPS-style reproducibility checklist
  REPRODUCIBILITY.md
Due: none

chore(data): Add SHA256 checksums for data integrity verification
  .gitignore
  Makefile
  data/_checksums.sha256
Due: none

chore(planning): Mark all action plan tasks as DONE
  docs/planning/reproducibility-and-mlsecops-improvements-action-plan.xml
Due: none

docs(fig-98): Re-convert preprocessing challenges figure with rounded corners
  docs/repo-figures/assets/fig-repo-98-pupil-preprocessing-challenges.jpg
Due: figure-isolation-check

docs(readme): Update manuscript title and literature review link
  README.md
Due: none

fix(ci): Add _version fields to governance configs, fix frozen config check
  .github/workflows/config-integrity.yml
  configs/_version_manifest.yaml
  configs/governance/ai_usage_card.yaml
  configs/governance/data_card.yaml
  configs/governance/environment_card.yaml
  configs/governance/model_card.yaml
Due: none

fix(ci): Correct config_versioning.py path (scripts/ → scripts/infra/)
  .github/workflows/config-integrity.yml
Due: none

docs: Add biosignal FM landscape figure and EMG references to README
  README.md
  docs/repo-figures/assets/fig-repo-102-biosignal-fm-landscape.jpg
Due: figure-isolation-check

feat(notebooks): Migrate to Quarto with TDD guards and CI smoke tests
  .github/workflows/notebook-tests.yml
  .gitignore
  .pre-commit-config.yaml
  docs/planning/jupyter-notebook-submission-ready.md
  notebooks/.gitignore
  notebooks/01-pipeline-walkthrough.qmd
  notebooks/02-reproduce-and-extend.qmd
  notebooks/README.md
  notebooks/_freeze/01-pipeline-walkthrough/execute-results/html.json
  notebooks/_freeze/01-pipeline-walkthrough/figure-html/fig-auroc-histogram-output-1.png
  notebooks/_freeze/02-reproduce-and-extend/execute-results/html.json
  notebooks/_freeze/02-reproduce-and-extend/figure-html/dca-plot-output-1.png
  notebooks/_quarto.yml
  notebooks/comprehensive_guide.ipynb
  notebooks/data_access_tutorial.ipynb
  notebooks/extensions/README.md
  notebooks/extensions/_template.qmd
  notebooks/reproducibility_tutorial.ipynb
  pyproject.toml
  scripts/validation/check_notebook_format.py
  uv.lock
Due: ruff, ruff-format

fix(notebooks): Critical review fixes and security hardening
  .github/workflows/notebook-tests.yml
  .pre-commit-config.yaml
  notebooks/01-pipeline-walkthrough.qmd
  notebooks/02-reproduce-and-extend.qmd
  notebooks/_freeze/01-pipeline-walkthrough/execute-results/html.json
  notebooks/_freeze/01-pipeline-walkthrough/figure-html/fig-auroc-histogram-output-1.png
  notebooks/_freeze/02-reproduce-and-extend/execute-results/html.json
  notebooks/_quarto.yml
  notebooks/extensions/_template.qmd
  scripts/validation/check_notebook_format.py
Due: ruff, ruff-format

docs(figures): Add 8 notebook figure plans for Nano Banana Pro generation
  docs/repo-figures/figure-plans/fig-nb-01-notebook-landscape.md
  docs/repo-figures/figure-plans/fig-nb-02-hidden-state-problem.md
  docs/repo-figures/figure-plans/fig-nb-03-our-quarto-architecture.md
  docs/repo-figures/figure-plans/fig-nb-04-quarto-freeze.md
  docs/repo-figures/figure-plans/fig-nb-05-notebook-testing-landscape.md
  docs/repo-figures/figure-plans/fig-nb-06-mlsecops-notebooks.md
  docs/repo-figures/figure-plans/fig-nb-07-notebook-to-production.md
  docs/repo-figures/figure-plans/fig-nb-08-nbdev-fusen.md
  docs/repo-figures/notebook-figure-coverage-plan.md
Due: figure-isolation-check

docs(notebooks): Comprehensive README with architecture, security, and figure placeholders
  notebooks/README.md
Due: none

docs(notebooks): Add 8 figure assets, Quarto security plan, and comprehensive README
  docs/repo-figures/assets/fig-nb-01-notebook-landscape.jpg
  docs/repo-figures/assets/fig-nb-02-hidden-state-problem.jpg
  docs/repo-figures/assets/fig-nb-03-our-quarto-architecture.jpg
  docs/repo-figures/assets/fig-nb-04-quarto-freeze.jpg
  docs/repo-figures/assets/fig-nb-05-notebook-testing-landscape.jpg
  docs/repo-figures/assets/fig-nb-06-mlsecops-notebooks.jpg
  docs/repo-figures/assets/fig-nb-07-notebook-to-production.jpg
  docs/repo-figures/assets/fig-nb-08-nbdev-fusen.jpg
  docs/repo-figures/figure-plans/fig-nb-06b-quarto-security.md
  docs/repo-figures/notebook-figure-coverage-plan.md
  notebooks/README.md
Due: figure-isolation-check

docs(notebooks): Restructure README with Quick Start first, SEO alt text, and Quarto security figure
  docs/repo-figures/assets/fig-nb-06b-quarto-security.jpg
  notebooks/README.md
Due: figure-isolation-check

docs: Expand notebooks README, add literature PDFs, remove image width constraints
  README.md
  notebooks/README.md
Due: none

docs: Add PupillometryR and PUPILS to pupillometry ecosystem
  README.md
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
Due: figure-isolation-check

docs(fig-repo-99): Compact Content Prompt with numbered library cards
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
Due: figure-isolation-check

docs(fig-repo-99): Rewrite as flat scene description for Nano Banana Pro
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
Due: figure-isolation-check

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  registry-integrity: any of: (configs/mlflow_registry/|configs/registry_canary\.yaml|src/data_io/registry\.py|tests/test_registry\.py)
  registry-validation: any of: (configs/mlflow_registry/|configs/registry_canary\.yaml|src/data_io/registry\.py|tests/test_registry\.py)
  computation-decoupling: any of: src/viz/ and \.py$
  renv-sync-check: any of: (\.R$|renv\.lock$|src/r/)
  extraction-isolation-check: any of: (scripts/extraction/extract.*\.py|src/utils/data_mode\.py|configs/data_isolation\.yaml)
  figure-isolation-check: any of: (src/viz/|figures/|configs/data_isolation\.yaml)
