Repository petteriTeikari/foundation_PLR: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, registry-integrity, registry-validation, computation-decoupling, renv-sync-check, extraction-isolation-check, figure-isolation-check

ruff:
  name: ruff lint (auto-fix)
  entry: uv run ruff check --fix --config=pyproject.toml
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

registry-integrity:
  name: Registry Integrity Check (anti-cheat verification)
  entry: uv run python scripts/validation/verify_registry_integrity.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

registry-validation:
  name: Registry Validation (11 outliers, 8 imputations, 5 classifiers)
  entry: uv run python -m pytest tests/test_registry.py -v --tb=short
  language: system
  pass_filenames: false
  stages:
  - pre-commit

computation-decoupling:
  name: Computation Decoupling Check (viz code must not compute metrics)
  entry: uv run python scripts/validation/check_computation_decoupling.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

renv-sync-check:
  name: renv Sync Check (R reproducibility)
  entry: Rscript scripts/infra/check_renv_sync.R
  language: system
  pass_filenames: false
  stages:
  - pre-commit

extraction-isolation-check:
  name: Extraction Isolation (no synthetic in production)
  entry: uv run python scripts/validation/check_extraction_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

figure-isolation-check:
  name: Figure Isolation (no synthetic in generated/)
  entry: uv run python scripts/validation/check_figure_isolation.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs(fig-repo-99): Gemini-style scaffolding prompt with post-processing overlay
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
Due: figure-isolation-check

docs: Keep original fig-repo-99, note PupillometryR/PUPILS not shown
  README.md
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
Due: figure-isolation-check

chore(deps): Bump rtdl-num-embeddings 0.0.11 → 0.0.12
  uv.lock
Due: none

docs(data): Add data/ README with DuckDB schema, TSFM formats, and 4 figure plans
  .gitignore
  data/README.md
  docs/planning/data-documentation-improvement-plan.md
  docs/repo-figures/assets/fig-data-01-tsfm-data-adaptation-pipeline.jpg
  docs/repo-figures/assets/fig-data-02-benchmark-dataset-landscape.jpg
  docs/repo-figures/assets/fig-data-03-data-dictionary-structure.jpg
  docs/repo-figures/assets/fig-data-04-data-versioning-decision-tree.jpg
  docs/repo-figures/figure-plans/fig-data-01-tsfm-data-adaptation-pipeline.md
  docs/repo-figures/figure-plans/fig-data-02-benchmark-dataset-landscape.md
  docs/repo-figures/figure-plans/fig-data-03-data-dictionary-structure.md
  docs/repo-figures/figure-plans/fig-data-04-data-versioning-decision-tree.md
Due: figure-isolation-check

chore: Disable Dependabot during publication freeze
  .github/dependabot.yml
Due: none

fix(docs): Escape bracket sequences causing mkdocs strict-mode failure
  .github/workflows/deploy-docs.yml
  docs/repo-figures/figure-plans/fig-nb-02-hidden-state-problem.md
Due: figure-isolation-check

fix(ci): DuckDB read-only mode + redact subject ID in data README
  data/README.md
  src/data_io/data_utils.py
Due: ruff, ruff-format

docs: Add PupillometryR and PUPILS to pupillometry ecosystem (#65)
  .github/dependabot.yml
  .github/workflows/deploy-docs.yml
  .gitignore
  README.md
  data/README.md
  docs/planning/data-documentation-improvement-plan.md
  docs/repo-figures/assets/fig-data-01-tsfm-data-adaptation-pipeline.jpg
  docs/repo-figures/assets/fig-data-02-benchmark-dataset-landscape.jpg
  docs/repo-figures/assets/fig-data-03-data-dictionary-structure.jpg
  docs/repo-figures/assets/fig-data-04-data-versioning-decision-tree.jpg
  docs/repo-figures/figure-plans/fig-data-01-tsfm-data-adaptation-pipeline.md
  docs/repo-figures/figure-plans/fig-data-02-benchmark-dataset-landscape.md
  docs/repo-figures/figure-plans/fig-data-03-data-dictionary-structure.md
  docs/repo-figures/figure-plans/fig-data-04-data-versioning-decision-tree.md
  docs/repo-figures/figure-plans/fig-nb-02-hidden-state-problem.md
  docs/repo-figures/figure-plans/fig-repo-99-pupillometry-software-ecosystem.md
  src/data_io/data_utils.py
  uv.lock
Due: ruff, ruff-format, figure-isolation-check

fix(repo): Phase 1 repo fixes + CITATION.cff/.zenodo.json (T1,T2,T4,T7)
  .gitignore
  .zenodo.json
  CITATION.cff
  CLAUDE.md
  Makefile
  data/public/DATA_MANIFEST.yaml
  docs/planning/tdd-state.json
  docs/planning/tripod-code-planning.xml
  pyproject.toml
  tests/test_makefile_compliance.py
  tests/test_repo_metadata.py
Due: ruff, ruff-format

fix(docker): Pin all base images to sha256 digests (T3)
  .nvmrc
  Dockerfile
  Dockerfile.r
  Dockerfile.shiny
  Dockerfile.test
Due: none

docs: TRIPOD-Code compliance mapping, reviewer sections in README and tests/README
  README.md
  docs/TRIPOD-CODE-COMPLIANCE.md
  tests/README.md
Due: none

docs: AI-assisted development transparency doc and CLAUDE.md cross-references
  CLAUDE.md
  docs/AI-ASSISTED-DEVELOPMENT.md
Due: none

docs: TRIPOD figure plans and README reporting standards section (Phase 5)
  README.md
  docs/repo-figures/figure-plans/fig-repo-103-tripod-guideline-family.md
  docs/repo-figures/figure-plans/fig-repo-104-tripod-code-development.md
Due: figure-isolation-check

docs: Add TRIPOD figure assets with citations in README
  README.md
  docs/repo-figures/assets/fig-repo-103-tripod-guideline-family.jpg
  docs/repo-figures/assets/fig-repo-104-tripod-code-development.jpg
Due: figure-isolation-check

fix(ci): Replace relative ../links with absolute GitHub URLs in docs
  docs/AI-ASSISTED-DEVELOPMENT.md
  docs/TRIPOD-CODE-COMPLIANCE.md
  tests/test_repo_metadata.py
Due: ruff, ruff-format

fix: TRIPOD-Code compliance, repo housekeeping, and reviewer documentation (#72)
  .gitignore
  .nvmrc
  .zenodo.json
  CITATION.cff
  CLAUDE.md
  Dockerfile
  Dockerfile.r
  Dockerfile.shiny
  Dockerfile.test
  Makefile
  README.md
  data/public/DATA_MANIFEST.yaml
  docs/AI-ASSISTED-DEVELOPMENT.md
  docs/TRIPOD-CODE-COMPLIANCE.md
  docs/planning/tdd-state.json
  docs/planning/tripod-code-planning.xml
  docs/repo-figures/assets/fig-repo-103-tripod-guideline-family.jpg
  docs/repo-figures/assets/fig-repo-104-tripod-code-development.jpg
  docs/repo-figures/figure-plans/fig-repo-103-tripod-guideline-family.md
  docs/repo-figures/figure-plans/fig-repo-104-tripod-code-development.md
  pyproject.toml
  tests/README.md
  tests/test_makefile_compliance.py
  tests/test_repo_metadata.py
Due: ruff, ruff-format, figure-isolation-check

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  registry-integrity: any of: (configs/mlflow_registry/|configs/registry_canary\.yaml|src/data_io/registry\.py|tests/test_registry\.py)
  registry-validation: any of: (configs/mlflow_registry/|configs/registry_canary\.yaml|src/data_io/registry\.py|tests/test_registry\.py)
  computation-decoupling: any of: src/viz/ and \.py$
  renv-sync-check: any of: (\.R$|renv\.lock$|src/r/)
  extraction-isolation-check: any of: (scripts/extraction/extract.*\.py|src/utils/data_mode\.py|configs/data_isolation\.yaml)
  figure-isolation-check: any of: (src/viz/|figures/|configs/data_isolation\.yaml)
